[submodule "packages/external"]
	path = packages/external
	url = software-login.sandia.gov:/home/rhoope/Dakota_packages_public_sandbox
[submodule "packages/pecos"]
	path = packages/pecos
	url = software-login.sandia.gov:/home/rhoope/pecos_git_sandbox
[submodule "packages/surfpack"]
	path = packages/surfpack
	url = software-login.sandia.gov:/home/rhoope/surfpack_git_sandbox
