[submodule "packages/external"]
	path = packages/external
	url = ../dakota-packages.git
[submodule "packages/pecos"]
	path = packages/pecos
	url = ../pecos.git
[submodule "packages/surfpack"]
	path = packages/surfpack
	url = ../surfpack.git
[submodule "packages/local/DOT"]
	path = packages/local/DOT
	url = git@gitlab-ex.sandia.gov:dakota/SNL/DOT
[submodule "packages/local/NPSOL"]
	path = packages/local/NPSOL
	url = git@gitlab-ex.sandia.gov:dakota/SNL/NPSOL
[submodule "packages/local/NLPQL"]
	path = packages/local/NLPQL
	url = git@gitlab-ex.sandia.gov:dakota/SNL/NLPQL
[submodule "local"]
	path = local
	url = git@cee-gitlab.sandia.gov:dakota/dakota
	branch = devel
[submodule "dakota-examples"]
	path = dakota-examples
	url = ../dakota-examples.git
