
/* Additional Dakota stylesheet */
table.keyword  {
   border: 1px solid black;
   width:80%;
   padding: 2em;
   margin:1em;
}

th.keyword  {
  width:100px;
  padding: 2em;
  margin-bottom: 1em;
  border-right: 1px solid black;
}
td.keyword  {
  padding:0.5em;
  padding-left: 2em;
}
.keyword .kwtype {
  color:#036;
  font-size: 1.2em;
  margin: 2em;
}

td.keyword  td.kwname {
  width: 300 px;
}


span.keyword {
	color: #787ace;
}

/*

th.spec-table td.spec-table {
  background-color: #cbb691;
  font-weight: bold;
}
*/

.spec-table table {
}


.spec-table table,
.spec-table th,
.spec-table td {
  padding: .5em;
  margin: 1em 0 1em 0;
  border-bottom: 2px solid #372317;
  vertical-align:top;
  text-align:left;
  color: #372317;
}

.spec-table th {
  background-color: #d3beaa;
}

.spec-table td.centered {
  text-align: center;
}

.spec-table .border-heavy-right {
  border-right: 2px solid #372317;
}

.spec-table .border-light-right {
  border-right: 1px solid #d3beaa;
}

.spec-table .border-light-bottom {
  border-bottom: 1px solid #d3beaa;
}

.spec-table .vert-align-mid {
  vertical-align:middle;
}

.spec-table ul{
  padding:0;
  margin: 0 0 0 2em;
  list-style-type:circle;
}
.spec-table ul li {
  margin:0;
  padding:0;
}



  
h1 {
  color:#372317;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #baa588;
  font-family:serif;
  font-size: 2em;
  line-height: 0.8em;
  margin: 1em 0 0 0;
  padding: 0.4em;
}
h2 {
  color:#372317;
  font-size: 1.2em;
  border-bottom: 1px solid #000;
  text-shadow: 0.7px 0.7px 0.5px #baa588;
}
h3 {
  color:#372317;
  font-size: 1.2em;
}
h4 {
  color:#372317;
  font-size: 1.0em;
 }

h5 {
  color:#372317;
  font-size: 1.0em;
  margin-bottom: .4em;
 }
