/* Additional Dakota stylesheet

   Previous Dakota colors:
     #d3beaa lightest brown / putty
     #baa588 medium brown / dark tan
     #372317 dark brown

   Dakota 2016 branding colors:
     #DDECCA (light grayish green)
     #75CBE0 (soft cyan)
     #00A6C5 (strong cyan)
     #448FAA (dark moderate blue)
     #295D72 (very dark blue)
*/

.spec-table table,
.spec-table th,
.spec-table td {
  padding: 0 1em 0 1em;
  margin: 1em 0 1em 0;
  border-bottom: 2px solid #448FAA;
  vertical-align:top;
  text-align:left;
  color: #295D72;
}

table.spec-table {
  width: 95%;
  padding-left: 25px;
}

.spec-table th {
  background-color: #448FAA;
  color: #FFFFFF;
}

.spec-table td.centered {
  text-align: center;
}

.spec-table .border-heavy-right {
  border-right: 2px solid #295D72;
}

.spec-table .border-light-right {
  border-right: 1px solid #448FAA;
}

.spec-table .border-light-bottom {
  border-bottom: 1px solid #448FAA;
}

.spec-table .vert-align-mid {
  vertical-align:middle;
}

.spec-table ul{
  padding:0;
  margin: 0 0 0 2em;
  list-style-type:circle;
}
.spec-table ul li {
  margin:0;
  padding:0;
}

h1 {
  background-image:url('tab_b.png');
  background-repeat:repeat-x;
  /* background-color: #F9FAFC; */
  color:#295D72;
  font-weight: bold;
  text-shadow: 2px 2px 2px #448FAA;
  font-family:serif;
  font-size: 1.75em;
  line-height: 0.8em;
  margin: 1em 0 0 0;
  padding: 0.4em 0 0.4em 0.4em;
}
h2 {
  color:#295D72;
  font-size: 1.2em;
  border-bottom: 1px solid #000;
  text-shadow: 0.7px 0.7px 0.5px #448FAA;
}
h3 {
  color:#295D72;
  font-size: 1.2em;
}
h4 {
  color:#295D72;
  font-size: 1.0em;
 }

h5 {
  color:#295D72;
  font-size: 1.0em;
  margin-bottom: .4em;
 }


/* @group Link Styling */

a {
	color: #00A6C5;
	font-weight: normal;
	text-decoration: none;
}

.contents a:visited {
	color: #00A6C5;
}

a:hover {
        color: #DDECCA
	text-decoration: underline;
}
