# Tests for dprepro

# Set a default value and make sure used later
{ mydefault = 4.0 }
mydefault = { 2 * mydefault }

# Set a default string and make sure used
{ mydefaultstring = nonsense }
{ mydefaultquotestr  = "testp2hash" }
nonsense = {mydefaultstring}
stringfromfile = {teststr}
quotedstring = {quotedstr}
quotedstringinfile = {mydefaultquotestr}

# Inline vs. next line override of default from parameters file; internal 2984
# In both cases the parameter file should override the default
{ test01 = -1e30 }
test01 = { test01 = -1e30 }
test02 = { test02 = -1e30 }


# Alternate delimiters; internal 3105

# test with --left-delimiter='<' --right-delimiter='>' and inline default
delim_angle = < test01 = -1e30 >

# test with --left-delimiter='||' --right-delimiter='@'
delim_random = || test01 @

# test with --left-delimiter='[[' --right-delimiter=']]'
delim_brackets = [[ test01 ]]


# Test verbatim delimiters escaped with backslashes; public Ticket #4066

# Leave curly braces in
dontsub_curly = \{ dontsub = +1e30 \}

# Leave backslashes in
dontsub_backslash = \\ dontsub = +1e30 \\

# Leave alternate delimiter in
# test with --left-delimiter='<' --right-delimiter='>' and inline default
dontsub_angle = \< dontsub = +1e30 \>

# Several on a line, some escaped
{ alpha = 0.1 } then \{ beta = alpha \} then { beta = 2.0*alpha }

# Nested with escapes
{ alpha = 0.1 } then \{ beta = alpha \} then \{ { beta = 2.0*alpha } \} {beta}


# Test a few expressions
sin0 = { sin(0) }
sin1 = { sin(test01) }


# Shane Brown's stress test from DAKOTA internal 1340.
# Exercises numeric formats
{test01}
{test02}
{test03}
{test04}
{test05}
{test06}
{test07}
{test08}
{test09}
{test10}
{test11}
{test12}
{test13}
{test14}
{test15}
{test16}
{test17}
{test18}
{test19}
{test20}
{test21}
{test22}
{test23}
{test24}
{test25}
{test26}
{test27}
{test28}
{test29}
{test30}
{test31}
{test32}
{test33}
{test34}
{test35}
{test36}
{test37}
{test38}
{test39}
{test40}
{test41}
{test42}
{test43}
{test44}
{test45}
{test46}
{test47}
{test48}
{test49}
{test50}
{test51}
{test52}
{test53}
{test54}
{test55}
{test56}
{test57}
{test58}
{test59}
{test60}
{test61}
{test62}
{test63}
{test64}
{test65}
{test66}
{test67}
{test68}
{test69}
{test70}
{test71}
{test72}
{test73}
{test74}
{test75}
{test76}
